
.gitattributes

.idea/.name

.idea/codeStyleSettings.xml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/libraries/Maven__com_google_guava_guava_19_0.xml

.idea/libraries/Maven__junit_junit_4_12.xml

.idea/libraries/Maven__org_assertj_assertj_core_3_2_0.xml

.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml

.idea/misc.xml

.idea/modules.xml

.idea/uiDesigner.xml

.idea/vcs.xml

.idea/workspace.xml

rtree.iml

target/classes/rtree/HyperBox.class

target/classes/rtree/RTree$Builder.class

target/classes/rtree/RTree.class

target/test-classes/rtree/DimensionalTest.class

target/test-classes/rtree/HyperBoxTest.class

target/test-classes/rtree/RTreeTest.class
